# Docker/Swarm deployment
DOCKERHUB_USER=
IMAGE_NAME=lms
STACK_NAME=lms
DOMAIN=lms.parceria360.com.br
TRAEFIK_PUBLIC_NETWORK=traefik-public
TRAEFIK_CERTRESOLVER=letsencrypt
TAG=
PORT=3000
NODE_ENV=production
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# App settings
APP_URL=https://lms.parceria360.com.br
APP_ENV=production
DATABASE_URL=
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CREATE_ADMIN=false
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_FIRST_NAME=Admin
ADMIN_LAST_NAME=Botmaker
ADMIN_LOCALE=pt
